</div>

<div class="theEnd">
  <div class="logo2">
    <a href="/">League Cricket 11</a>
  </div>
  <div>
    <a href="/terms_and_conditions" style="text-decoration: none;color:white">Terms and Conditions</a> <br>
    <a href="/fairPlay" style="text-decoration: none;color:white">Fair Play</a> <br>
    <a href="/legalaties" style="text-decoration: none;color:white">Legalaties</a> <br>
    <a href="/withdrawal" style="text-decoration: none;color:white">Withdrawal</a> <br>
    </div>
  
  <div class="rightEnd">
    <p style="text-align:center;color:#fff;background:red;padding:10px;">Copyright @ 2021 International Exhit All rights reserved</p>
    <p>Payment accepted by all major banks and wallets</p></div>
</div>
</body>
</html>