<div class="tab">
  <div class="flag-holder">
    <div class="imageColumn">
      <img class="indianFlag" src="./images/india.png" />
      <h4 style="letter-spacing: 1px">India</h4>
    </div>
    <div class="imageColumn">
      <span class="v">*v</span> <span class="s">s*</span>
    </div>
    <div class="imageColumn">
      <img class="australianFlag" src="./images/australia.png" />
      <h4 style="color: red; letter-spacing: 1px">Australia</h4>
    </div>
  </div>
  <div class="text">
    <p>Test Match 3/4</p>
  </div>
</div>
