<%- include('./partials/nav.ejs')%>
<div class="about-container">
  <div class="about-mini">
    <h2><b>About</b> Us</h2>
    <img src="/images/about_us.png" />
    <p>
      Founded in 2020, with a singular mission: To create ‘The Best Fantasy
      Sports Experience’ in the field of Cricket. We have designed our app &
      website keeping in mind the love and passion our nation shares for the
      game. With #Playerfirst as our guiding principle, we make sure our users
      have the most smooth, fun & credible gaming experience.
    </p>
  </div>
  <div class="about-work">
    <p class="work-heading">How does League Cricket 11 Work</p>
    <div class="about-work-mini">
      <div class="about-work-section">
        <img src="./images/choose-match.png" />
        <p class="para-small">1. Choose a match</p>
        <p class="para-smaller">Play for cash or fun</p>
      </div>

      <div class="about-work-section">
        <img src="/images/pick-player.png" />
        <p class="para-small">2. Pick your players</p>
        <p class="para-smaller">Select the players from the list</p>
      </div>

      <div class="about-work-section">
        <img src="/images/cup.png" />
        <p class="para-small">3. Watch and win</p>
        <p class="para-smaller">Top scores win when games end.</p>
      </div>
    </div>
  </div>
  <div class="more-info">
    <p>More! <b>Coming Soon..</b></p>
  </div>
</div>
<%- include('./partials/footer.ejs')%>
