<%- include('./partials/nav.ejs')%>

<div class="contactUs-container">
  <div class="contact-mini" style="margin-top:100px">
    <p>Contact<b> Us</b></p>
    <!-- <div class="contact-mini-2"></div> -->
  </div>
  <p style="padding-bottom: 300px; font-size: 20px">In case of any troubles, adjustments, suggestions please feel free to reach us. </br>
    <a href="mailto:internationalexhit@gmail.com"">Click here</a> to mail us.
  </p>
</div>
<%- include('./partials/footer.ejs')%>
