<%- include('./partials/nav.ejs')%>

<div class="content">
  <div class="table_content">
    <h2>Table of Content</h2>
    <ul class="content-index">
      <li class="fantasy_active">
        <a href="/cricket#txt1">What is Fantasy Cricket?</a>
      </li>
      <li>
        <a href="/cricket#txt2">Reading Fantasy Cricket News is important!</a>
      </li>
      <li>
        <a href="/cricket#txt3"
          >Here’s why you should choose League Cricket 11!</a
        >
      </li>
      <li>
        <a href="/cricket#txt4"
          >How to Play Fantasy Cricket on League Cricket 11.com?</a
        >
      </li>
      <li>
        <a href="/cricket#txt5">How to play fantasy cricket games online?</a>
      </li>
      <li>
        <a href="/cricket#txt6">
          How to play in three variants on League Cricket 11?</a
        >
      </li>
      <li>
        <a href="/cricket#txt7"
          >How to win Fantasy Cricket games on League Cricket 11?</a
        >
      </li>
      <li>
        <a href="/">Frequently Asked Question</a>
      </li>
    </ul>
  </div>
  <div id="txt1">
    <h3 class="txt-ques">What Is Fantasy Cricket?</h3>
    <p class="txt-ans">
      Fantasy Cricket is an online gaming genre that involves putting 11 top
      players in a virtual team and getting rewarded in total for their
      individual performance in a series. As a Fantasy Cricket team selector,
      you should select the top 11 players who can be best relied upon to score
      points for your team with their personal performances in batting, bowling
      and fielding. This is especially better in shorter formats of the game and
      thus comes into its best in ODIs and T20s. The best thing is you do not
      have to stick to these 11 players every time. You can easily replace the
      low performers with some seemingly better options throughout the ongoing
      series. This would, of course, depend on several competing factors and we
      are taking them on subsequently.
    </p>
  </div>

  <div id="txt2">
    <h3 class="txt-ques">Reading Fantasy Cricket News Is Important!</h3>
    <p class="txt-ans">
      Just like reading newspapers is good on a daily basis, reading Fantasy
      cricket news too has its own pros. This is so important because it offers
      updated news, fantasy cricket tips, and insightful articles that can help
      you win BIG. We thus recommend you read sports news and Fantasy cricket
      tips to get the best fantasy sports experience in India. A careful
      selection of players is crucial to creating a match-winning team. Here’s a
      list of factors you might want to look at before creating your online
      fantasy cricket squad to win BIG! Playing online fantasy cricket is a
      completely skill-based endeavour that depends largely on your
      understanding of the sport and your own instincts. The end goal is to
      create a match-winning team usinga certain maximum number of players who
      can perform their best in the following subset:
      <li>Playing conditions</li>
      <li>Pitch and weather conditions</li>
      <li>Toss</li>
      <li>Opposition</li>
      <li>Current form and track record</li>
      <li>Captain and Vice-Captain</li>
      <li>Previous experience of playing against the same opposition</li>
      <li>Top batsmen and bowlers</li>
      <li>Uncapped Players</li>
      <li>Strengths and weaknesses</li>
      <li>Batting or Bowling order</li>
      <li>Status: Injured, Recovering or Makinga comeback</li>
      <li>Availability of chosen players</li>
      <li>Players who can score Bonus Points</li>
    </p>
  </div>

  <div id="txt3">
    <h3 class="txt-ques">Here’s why you should choose League Cricket 11!</h3>
    <p class="txt-ans">
      League Cricket 11 is home to a comprehensive online gaming experience
      comprising several cricket fantasy leagues, monthly promotions, fantasy
      points system, referral bonuses, top rewards and monthly leaderboards. We
      suggest you get in the act with a better show of your skills and passion
      for the sport that you love the most.
      <br />
      Here’s a small list of factors that would help you decide in our favour:
      <li>Classic, Batting and Bowling</li>
      <li>A safe, secure and trusted gaming environment</li>
      <li>Two fast and snappy smartphone apps</li>
      <li>Expert advice on team selection</li>
      <li>Exciting monthly contests</li>
      <li>Micro Leagues with Buy-Ins as low as INR 1</li>
      <li>Several Cash Leagues and Practice Games</li>
      <li>
        A dedicated Blog that offers Fantasy Cricket Tips, News and Analysis by
        experts
      </li>
      <li>Referral bonus and Partnership Program</li>
      <li>Monthly Leaderboards for consistent performers</li>
      Yes, the more exciting contests you are playing, the better it shows on
      your game. You can also invite your friends to spice up your journey to
      the moon and win BIG!
    </p>
  </div>

  <div id="txt4">
    <h3 class="txt-ques">
      How to Play Fantasy Cricket on League Cricket 11.com?
    </h3>
    <p class="txt-ans">
      League Cricket 11 is a front runner among the best fantasy cricket portals
      in India. It is powered by three exciting online gaming formats, two
      free-to-use smartphone apps, a blog with expert tips and tricks and tons
      of premium rewards. It offers the same class-leading experience to all
      fantasy players in India, whether they are new to this online genre or are
      pros at it! We would suggest you download LC11’s daily fantasy cricket app
      to make the most of your online fantasy gaming experience today. It is
      your gateway to the three exciting online fantasy gaming variants that you
      can play as per your choice. These variants are Batting, Bowling and
      Classic- and they are all as exciting as you’d expect them to be! Please
      continue reading this page to know how you can play fantasy cricket in
      India as per your preferred variant, starting today.
    </p>
  </div>

  <div id="txt5">
    <h3 class="txt-ques">How to play fantasy cricket games online?</h3>
    <p class="txt-ans">
      It is indeed a very good question. At League Cricket 11, we offer you
      straight-line access between your passion for Cricket and creating
      match-winning fantasy teams. We advise you to visit our detailed coverage
      on the topic through videos and infographics to help you learn the basics
      of fantasy gaming online.Apart from them, you can also visit our detailed
      and expert Fantasy Cricket Tips and Tricks section to make the most of
      your every online game with us! As for the starters, you can download our
      apps and choose the Fantasy Cricket League that you would like to play in.
      Please choose Practice Contests or Cash Leagues as per your proficiency
      and preference. Post that, you may create your team of superstars and
      you’re all set to rock!
    </p>
  </div>

  <div id="txt6">
    <h3 class="txt-ques">
      How to play in three variants on League Cricket 11?
    </h3>
    <p class="txt-ans">
      LC11 offers three exciting gaming formats on its app and website to help
      you explore your skillsets to match-winning dimensions. These three
      formats relate to three different disciplines of the game and we offer
      them as our preferred online variants so you could derive maximum
      advantage playing them. They are called Batting Fantasy, Bowling Fantasy
      and Classic Fantasy. Please note they all differ in elements like team
      composition and the number of free credits allotted to include players in
      your virtual squad.
    </p>
  </div>

  <div id="txt7">
    <h3 class="txt-ques">
      How to win Fantasy Cricket games on League Cricket 11?
    </h3>
    <p class="txt-ans">
      Winning at fantasy cricket games requires skill, patience and persistence.
      We offer a transparent process of offering virtual games and then deciding
      the winners based on their respective performances. As mentioned above, a
      fantasy player gets some points based on his selection of players and
      their respective performance in the real matches. This is applicable
      across all gaming variants, be it Practice Contests or Cash Leagues.
      Secondly, there area certain number of payable positions in a league. This
      information is game-specific and is always pre-disclosed on the LC11 app.
      Please note that you would be eligible to win a prize only if you fall in
      that bracket. It is thus that we recommend you playour Practice Contests
      on a daily basis so that you can learn and evolve through the game like a
      pro. And yes, you may always take your next step by playing Cash Leagues
      to win BIG!
    </p>
  </div>
</div>
<%- include('./partials/footer.ejs')%>
