<%- include('./partials/nav.ejs')%>
<div class="fair-play">
  <div class="fair-play-internal">
    <h3 class="txt-ques" style="text-align:center">Fair Play</h3>
<h3 class="txt-ques"style="font-size:26px">Terms</h3>
<p class="txt-ans">
    We at League Cricket 11, as a Fantasy Gaming platform, take it to
     our prior responsibility of ensuring the culture of Fair Play 
     within the Fantasy arena. Throughout the game flow of our application,
      we are fully aligned to the Supreme Court’s precision of ‘game of skill’
       that includes a predominance of knowledge, training, attention & 
    experience of the player. We do not encourage acts of gambling, betting, 
    or any acts of cheating thereby making fantasy sports a legal and ethical
     way of enjoying what you love!
<p class="text-question fairplay-divide"><b>Fair play violation at League Cricket 11 includes</b></p>
  <li>The people you are referring should be genuine and the user should not use any fake accounts to gain the “Refer & Earn” cash bonus amount./li>
  <li>The PAN card of all your referred friends should be verified.</li>
  <li>A user creating more than one account on League Cricket 11 platform will be considered as violating the Fair Play terms of League Cricket 11.</li>
  <li>Withdrawing money by using any unlawful or illegal means or trying to withdraw money by illegal manners is considered as Fair Play violation at League Cricket 11.</li>
  <li>If a user is found submitting fake copies or someone else’s documents while registering with League Cricket 11, it will be considered as violating the Fair Play Terms</li>
  <p class="text-question fairplay-divide"><b>Consequences of violating fair play terms of League Cricket 11</b></p>
  <li>As a part of consequences for violating the terms of Fair Play at League Cricket 11, the account of the user found to be violating the Fair Play terms will be blocked immediately.</li>
  <li>Furthermore, in other scenarios, the total amount present in the League Cricket 11 wallet of the user violating the Fair Play terms of League Cricket 11 will be reduced to Zero.</li>
  <li>We ensure transparency & trust straight from our Team selection process to our Withdrawal system backed up by our 24*7 Help & Support Center to ensure you get the best fantasy sports experience. However, we do not offer services in Andhra Pradesh, Assam, Sikkim, Telangana, Odisha, Nagaland & Sikkim since these states are not permitted to play pay-to-play formats of any online games. To understand more on the Legality front of the Fantasy Sports industry, please tap on our Legalities Tab.</li>
  
</p>
</div> 
  </div>


<%- include('./partials/footer.ejs')%>