<%- include('./partials/nav.ejs')%>
<div class="banner-area">
  <img class="banner-image" src="./images/banner.png"/>
</div>
<div class="um">
  <div class="um-container">
    <div>
      <span class="match">Match</span>
      <span class="schedule">Schedule</span>
    </div>
    <div>Upcoming Matches</div>
    <%- include('./partials/tab.ejs')%>
  </div>
</div>

<div class="faq">
  Frequently Asked
  <br />
  <p class="color-red">Questions</p>
  <div class="dropdown">
    <div class="dropdown-header1">
      <div class="dropdown-ques">What is Fantasy Cricket?</div>
      <div class="dropdown-content1">
        <p>
          <li>
            Fantasy Cricket is just what the name implies- it is a virtual genre
            of cricket that hinges on fantasy-based selections of top
            performers.
          </li>
          <br />
          <li>
            In it, a player selects a virtual team of 11 players from a total of
            30 or so players from two competing teams. He may select them on the
            basis of their track record, current form, strengths and weaknesses,
            playing conditions and sometimes even intuition.
          </li>
          <br />
          <li>
            This online gaming genre also keeps a reserved space for every
            player’s own understanding and version of cricket. It is so because
            different fantasy players may perceive a certain real match player
            differently and the same perception closely affects their team
            creation.
          </li>
          <br />
          <li>
            Once a player has created a fantasy team, he is also supposed to
            mark the captain and vice-captain for it. Each of the players that
            he has chosen receive points on the basis of their performance on
            the ground. The captain and vice-captain get additional points for
            every other player’s performance in the team, besides theirs.
          </li>
        </p>
      </div>
      <br />
    </div>
    <div class="dropdown-header2">
      <div class="dropdown-ques">Why to indulge in fantasy games?</div>
      <div class="dropdown-content2">
        <p>
          <li>
            This is an easy one. Playing Fantasy Sports, or more specifically,
            Fantasy Cricket offers you a thought-provoking way to create your
            team of superstars as per your fantasy and insights. It also lets
            you use your knowledge of the game to win rewards. By playing these
            online games, you can maneuver your players around in a way that
            their collective and personal synergies are laser-focused towards a
            unified goal.
          </li>
          <br />
          <li>
            The best thing is that you can always top it later with some smart
            gameplay and BIG rewards.
          </li>
        </p>
      </div>
      <br />
    </div>
    <div class="dropdown-header3">
      <div class="dropdown-ques">Legality, Safety, Security !</div>
      <div class="dropdown-content3">
        <p>
          <li>
            League Cricket 11 offers a comprehensive online gaming experience of
            fantasy sports online. Right from its Signup to Cashout phase, it
            offers a transparent window where you can see how your game is
            taking you from one stage to another. The (Hon.) Supreme Court of
            India acknowledges and approves of all Games of Skill, and several
            High Courts have approved Fantasy Gaming as a game of skill. A
            consistent element of skill is required to attain a certain outcome
            in every such virtual game and this can result only from a profound
            understanding of the game.
          </li>
          <br />
          <li>
            League Cricket 11 is pivotally focused on providing only the safest
            of online gaming environments to its players. The same attribute is
            predominantly visible in its user-facing interfaces on the web
            portal and smartphone apps. All financial transactions are secured
            by 128-bit encryption and to ensure transparency at all times,
            without compromising on the speed at any instant.
          </li>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="playNow">
  <h2 style="margin-bottom: 10px; color: red; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">Please deposit Money in your wallet to Play.</h2>
  <a href="/api"><button class="btn">Play Now</button>
  </a>
</div>
<%- include('./partials/footer.ejs')%>
