<%- include('./partials/nav.ejs')%>
<div class="fair-play">
  <div class="fair-play-internal">
    <h3 class="txt-ques" style="text-align:center">TERMS & CONDITIONS</h3>
    By subscribing/registering to/on or using https://www.League Cricket 11.com/, its sub-domains and/or League Cricket 11 App (mobile application accessible through a mobile phone or a tablet device) collectively referred to “League Cricket 11 site” and/or any services provided on the League Cricket 11 site, you agree that you have read, understood and have agreed to be bound by the Terms and Conditions, regardless of how you subscribe to or use the services. If you do not want to be bound by the Terms and Conditions, you must not subscribe to or register or use the League Cricket 11 site or any of its services. For the purpose of these Terms and Conditions, wherever the context so require"you" or "your" or "User" or “Participant” shall mean any natural or legal person who has agreed to become a member of the League Cricket 11 site by registering on the League Cricket 11 site as registered User or a person who has used the League Cricket 11 site either through browsing or otherwise. Your access or use of the League Cricket 11 site is subject to the Terms and Conditions as set out herein (“Terms and Conditions”) and the Privacy Policy made available at League Cricket 11 site. “We”, “us”, “our”, “League Cricket 11” shall mean SBN Gaming Private Limited and/or any of its affiliated entities.
<p class="txt-ans">
   <!-- -------------------------------------------- -->
    <p class="text-question fairplay-divide"><b>League Cricket 11 SERVICE</b></p>
    
    League Cricket 11 shall be entitled to modify these Terms and Conditions and the rules governing its games/tournaments/contests, at any time, by posting the same on League Cricket 11 site. Use of League Cricket 11 constitutes your acceptance of such Terms and Conditions and the rules referred to herein or provided by League Cricket 11 in relation to any League Cricket 11 services, as may be amended from time to time. You may then exercise the options provided in such a notification to indicate non-acceptance of the modified Terms and Conditions or the rules. If such an option is not exercised by you within the time frame prescribed in the notification, you will be deemed to have accepted the modified Terms and Conditions and the rules provided by League Cricket 11.

    League Cricket 11 site may contain links to third party websites that are not owned or controlled by League Cricket 11. League Cricket 11 has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third party websites/app. In addition, League Cricket 11 will not and cannot censor or edit the content of any third-party site. By using the League Cricket 11 site and its services, you expressly acknowledge and agree that League Cricket 11 shall not be responsible for any damages, claims or other liability arising from or related to your use of any third-party website.
<!-- ------------------------------------------------------ -->
  <p class="text-question fairplay-divide"><b>USER REGISTRATION</b></p>
  You may use the League Cricket 11 site without registration. However, to participate in the activities of the League Cricket 11 site you shall be required to create an account by logging in through your Google account,Facebook account or any other third-party service account permitted by the League Cricket 11 site. In the event you wish to play on the League Cricket 11 site you shall create an account with us.You shall do so after completing the registration process by:
a) Providing true, accurate, correct and complete information as prompted by the applicable registration form.
b) Maintaining and updating true, accurate, correct and complete information provided by you during the registration process.
<br>
You shall be required to choose a user nameand password. You shall be solely responsible for maintaining the confidentiality of your account username and password.
<br>
You shall be solely responsible for the registration information provided by you during submissions and the consequences of posting or publishing them. League Cricket 11 is only acting as a repository of data and makes no guarantee as to the validity, accuracy, or legal status of any information / submissions.
<br>
If, at any time, League Cricket 11 believes that your account and password is being misused in any manner, or that the information provided by you during the above stated registration process is not true, inaccurate or incomplete, then League Cricket 11 reserves the right to terminate/cancel or suspend your account and block your access to the League Cricket 11 site.
<br>
You shall be solely and exclusively responsible for any and/or all the activities that are carried through your account. You agree to notify League Cricket 11 of any unauthorized use of your account and/or any breach of security via email at support@League Cricket 11.com. League Cricket 11 shall not be liable for any loss that you may incur as a result of another person(s) using your account username and/or passwordand / or your failure to comply with this section.You shall be solely and exclusively liable for all the losses to League Cricket 11 and/or other claims, damages, fines due to such an unauthorized use.
<br>
If League Cricket 11 charges you a platform fee (facilitation fee) in respect of any League Cricket 11 services, League Cricket 11 shall, without delay, refund such platform fee in the event of suspension and/or termination of your account or League Cricket 11 services on account of any fault on the part of League Cricket 11. It is hereby clarified that no refund shall be payable if such suspension and/or termination is effected due toany breach or failure to adhere any of these Terms and Conditions, Privacy Policy and/or any other rules by the you, the User, or a person(s) accessing your account by using your username and password; or any circumstances beyond the reasonable control of League Cricket 11.
<!-- -------------------------------------------------- -->
<p class="text-question fairplay-divide"><b>REGISTRATION AND PARTICIPANTS</b></p>
The games/tournaments/contests available on the League Cricket 11 site are open only to residents of India aged eighteen (18) years or above at the date of usage and/or registration. Employees of SBN Gaming Pvt. Ltd. (League Cricket 11), their associated, affiliated and subsidiary companies and their families, agents,game sponsors, and any person connected with League Cricket 11 are excluded from participating in the game and/or winning a prize. By taking part in a game (excluding administering the game) on the League Cricket 11 site, Users/Participants warrant that all information submitted by them is true, accurate and complete. Proof of age may be required. The sole discretion to declare aUser ineligible to participate shall vest with League Cricket 11.Users/Participants who wish to participate shall have a valid email address.In order to register for the Contest(s), Users/Participants are required to accurately provide the following information:

<li> Full Name</li>
Team Name(s) <br>
E-mail address <br>  Password  <br>
State of Residence  <br>
Gender  <br>
Date of birth  <br>
 <!-- ----------------------------------------------------------- -->

  <p class="text-question fairplay-divide"><b>USE OF THE League Cricket 11 SITEs</b></p>
  All materials provided on the League Cricket 11 site, including but not limited to all information, materials, functions, text, logos, designs, graphics, images, sounds, software, documents, products and services (collectively, the "Materials"), and the selection, arrangement and display thereof, are the copyrighted works of League Cricket 11 and/or its vendors and/or suppliers. All Materials herein and League Cricket 11’s software are the exclusive properties of League Cricket 11. Except as stated herein, none of the Materials may be modified, copied, reproduced, distributed, republished, downloaded, displayed, sold, compiled, posted or transmitted in any form or by any means, including but not limited to, electronic, mechanical, photocopying, recording or other means, without the prior written permission of League Cricket 11.
<br>
Subject to your compliance with these Terms and Conditions, League Cricket 11 hereby grants you the right to access and use the League Cricket 11 site only for personal and non-commercial purposes. You undertake that you shall not use the League Cricket 11 site for any commercial purposes and/or in any way that is unlawful, or harms us or any other person or entity, as determined in our sole discretion.
<br>
You may post/share links/images/text content on the League Cricket 11 site on social media platforms like Facebook, Twitter, Google+, Snapchat, Instagram, YouTube or any other social media sharing platform with appropriate link-back to the original source.
<br>
When the League Cricket 11 site provides for the download of any particular Material including any software, you may download such Material and/or software to a computer or mobile device (as applicable) for your personal, non-commercial use only, provided that you shall:
<br>
a) keep a record of and not amend copyright and other proprietary notices;
b) make no modifications to, and do not rent, lease, loan, sell, distribute, copy (except to create a single copy for your own back-up purposes), or create any derivative works based on the League Cricket 11 site or the Material including the software, in whole or in part, and;
c) not transfer any Material and/or software and/or any part thereof to any other computer and/or mobile device. Any commercial or business use of the League Cricket 11 site or any Material including the software is expressly prohibited.
<br>
Except as expressly provided above, nothing contained herein shall be construed as conferring, by implication, estoppel or otherwise, any license or right under any patent, trademark, design or copyright of the League Cricket 11 intellectual properties. You acknowledge and agree that nothing in these Terms and Conditions shall have the effect of transferring the ownership of any copyrights, trademarks, service marks, trade names, source code or other proprietary rights on the League Cricket 11 site or Material or software or any part thereof to you or any third party
<br>
FAIR PLAY POLICY AND PROHIBITED USE
• Fair Play Policy <br>
We at League Cricket 11 consider the fair play of online fantasy game/tournament/contest of utmost importance. In order to prevent any form of fraud or unfair play in our games/contests/tournamentsor on our site - all User actions including - deposits/identity verification/Fantasy Games/Tournaments/Contests are monitored to ensure a safe, legal and fair environment for you (the Users/Participants).
<br>
Every single fantasy game/tournament/contestshall be a fair individual effort. Hence, as part of the Fair Play policy to prevent any form of fraud & in-game collusion all User/Participant actions are monitored and recorded.
<br>
Any detection of a breach of our Fair Play policy, such as and not limited to, fraudulent deposits under a stolen identity or collusion in gameplay, shall result in swift and serious action taken by League Cricket 11 against the suspected User/Participant.
<br>
• Prohibited Use
As a condition of your use of the League Cricket 11 site, you shall not use the League Cricket 11 site for any purpose that is unlawful or prohibited under these Terms and Conditions or under any Indian laws, statutes, order, ordinances and regulations. The duty to verify whether the use of the League Cricket 11 site is legal in your jurisdiction is your sole and exclusive responsibility.
<br>
You shall not display, upload, modify, publish, transmit, update or share any information on the League Cricket 11 site that is:
<br>
i. criminal or tortious activity, including child pornography, fraud including financial fraud and money laundering, trafficking in obscene material, drug dealing, gambling, harassment, stalking, spamming, spimming, sending of viruses or other harmful files, copyright infringement, patent infringement, or theft of trade secrets;
<br>
ii. promoting illegal or tortuous activities or conduct that is abusive, threatening, obscene, defamatory or libellous;
<br>
iii. using photos and/or pictures that are sexually explicit or pornographic, exposing the female breast or full exposure of either male or female buttocks, or any or all portions of the human genitalia; exposing anyone or anything involved in explicit sexual acts and/or lewd and lascivious behaviour, including masturbation, copulation, paedophilia, intimacy involving nude or partially nude people in heterosexual, bisexual, lesbian, or homosexual encounters; depicting anyone or anything that is crudely vulgar or grossly deficient in civility or behaviour or that shows scatological impropriety and any other content contravening good moral standards;
<br>
iv. attempting to circumvent, disable or otherwise interfere with security-related features of League Cricket 11 or features that prevent or restrict use or copying of any content or enforce limitations on the use of League Cricket 11 or the content therein;
<br>
v. using cheats, exploits, automation software, bots, hacks, mods or any other unauthorized software designed to modify or interfere with the League Cricket 11 site, and taking advantage of cheats or exploits;
<br>
vi. using any software that intercepts, mines, or otherwise collects information about other Users or copies and stores any Proprietary Materials;
<br>
vii. interfering with, disrupting, or creating an undue burden on the League Cricket 11 site or the networks connected to the League Cricket 11 site;
<br>
viii. attempting to impersonate another User or person;
<br>
ix. soliciting personal information from anyone under the eighteen (18) years of age;
<br>
x. collecting, harvesting, soliciting or posting passwords or personally identifiable information from other Users;
<br>
xi. using the account, username, or password of another account holder at any time or disclosing the User account password to any third party or permitting any third party to access the User Account;
<br>
xii. using any information obtained from the League Cricket 11 sitein order to harass, abuse, or harm another person;
<br>
xiii. using any unfair, misleading or deceptive content intended to draw traffic to one’s profile;
<br>
xiv. using the League Cricket 11 site and/or software in a manner inconsistent with any and all applicable laws and regulations;
<br>
xv. sub-license, rent, lease, sell, trade, gift, bequeath or other transfer of the User account associated with the User account to anyone;
<br>
xvi. access or use of a third-party account that have been sub-licensed, rented, leased, sold, traded, gifted, bequeathed, or otherwise transferred from the holder or the original account creator; and
<br>
xvii. using the League Cricket 11 site and/or Software and/or materials for commercial purpose manner.
<!-- ------------------------------------------------------------------------ -->
<p class="text-question fairplay-divide"><b>LEGALITY:</b></p>
The User’s/Participant’s use of the League Cricket 11 site and software is also subject to laws of the State in which the User resides and from which he/she accesses the League Cricket 11 site, as well as the laws enacted by the Republic of India. Residents physically located outside India and in the States of Andhra Pradesh, Assam, Sikkim, Telangana, Nagaland and Odisha (Orissa) (“Excluded States”) are ineligible to open a User Account on the League Cricket 11 site.
<br>
Users seeking to participate in the games of skill offered by the League Cricket 11 site from the Excluded States would be ineligible for prizes offered by League Cricket 11. League Cricket 11, at its sole discretion or the judicial and/or government authority, through an order/decree/judgment/direction, may add additional States in the Excluded States. In such a case, the Users/Participants from these States shall be ineligible to participate in the online games/tournaments/contests where the participation fee is charged, and the prizes are offered.
<br>
In case wherein detailed audits on the end of League Cricket 11, any User/Participant is found to be a resident of any of the aforementioned States and is found to be hiding such details from League Cricket 11 at the time of registration then actions mentioned under these Terms and Conditions including (but not limited to) blocking of account, account reset, account deletion or deactivation shall be initiated. If the laws of these Excluded States change and the residents of these States are allowed to participate in the paid versions of game of skills, the Users/Participants (who were blocked earlier for being a resident of these States) shall be treated as new registrations and in no case, previous winnings shall be considered and any claim of such sort will not be entertained in any case.
<br>
Any credit/winning amount of such a User/Participant, available in the User Account with League Cricket 11 shall not be usable, till the time the judiciary/government authority expressly allows the League Cricket 11 site to offer its online game(s)/contests/tournaments in the Excluded State.
<br>
The User/Participant agrees that League Cricket 11 shall not be held liable if laws applicable to the User/Participant restricts or prohibits his/her participation.
<br>
League Cricket 11 makes no representations or warranties, implicit or explicit, as to the User’s legal right to participate nor shall any person affiliatedor claiming affiliation with the User/Participant have authority to make any such representations or warranties.<!-- ------------------------------------------- -->
<p class="text-question fairplay-divide"><b>INTERNATIONAL USERS</b></p>
The League Cricket 11 site and service are hosted in the Republic of India and are intended for and directed to Users/Participants in the Republic of India (except the Excluded States). League Cricket 11 makes no representation that the League Cricket 11 site is appropriate or available in locations outside India. Those who choose to access the League Cricket 11 site from outside India and/or the Excluded States are doing it at their own risk and shall be themselves responsible for compliance with the applicable laws.
<br>
If you are a User/Participant accessing the League Cricket 11 site and service from any region with laws or regulations governing personal data collection, use, and disclosure, your continued use of League Cricket 11 site and service (governed by the Indian laws, League Cricket 11 Terms & Conditions and Privacy Policy) you consent to transfer your personal information to League Cricket 11 as per the Republic of India laws and regulations applicable at that time.<p class="text-question fairplay-divide"><b>Updating information</b></p>

<p class="text-question fairplay-divide"><b>USER CONDUCT</b></p>
• You agree to abide by these Terms and Conditions and all other rules, regulations of the League Cricket 11 Website and/or App. In the event you do not abide by these Terms and Conditions and all other rules, regulations, League Cricket 11 may, at its sole and exclusive discretion, take necessary remedial action, including but not limited to:
<br>
restricting, suspending, or terminating your access to all or any part of League Cricket 11 services;
deactivating or deleting your account and all related information and files on the account. Any winnings amount on the date of deactivation or deletion shall be transferred to the User account in League Cricket 11 database subject to a processing fee (if any) applicable on such transfers as set out herein; or
refraining from awarding any prize(s) to such User.

<br>
• You agree to provide true, accurate, current and complete information at the time of registration and at all other times (as required by League Cricket 11). You further agree to update and keep updated your registration information as and when required by League Cricket 11.
<br>
• You shall not register or operate more than one User account with League Cricket 11.
<br>
• You shall provide all the necessary Mandatory Information Documents (MIDs) as and when required by League Cricket 11 as per compliance of the Republic of India laws and regulations.
<br>
• You agree to ensure that you can receive all communication from League Cricket 11 by marking e-mails from League Cricket 11 as part of your "safe senders" list. League Cricket 11 shall not be held liable if any e-mail remains unread as a result of such an e-mail being delivered to your junk and/or spam folder.
<br>
• Any password issued by League Cricket 11 to you shall not be revealed to anyone else. You shall strictly avoid using anyone else's password. You shall be responsible for maintaining the confidentiality of your account and password. You agree to immediately notify League Cricket 11 of any unauthorized use of your account or any other breach of security.
<br>
• You agree to exit/log-out of your accounts at the end of each session. League Cricket 11 shall not be responsible for any loss and/or damage that may result if you fail to comply with these requirements.
<br>
• You agree not to use cheats, exploits, automation, software, bots, hacks or any unauthorised third party software designed to modify or interfere with League Cricket 11 services and/or League Cricket 11 experience or assist in such activity.
<br>
• You agree not to copy, modify, rent, lease, loan, sell, assign, distribute, reverse engineer, grant a security interest in, or otherwise transfer any right to the technology or software underlying League Cricket 11 or League Cricket 11 services.
<br>
• You agree that without League Cricket 11's express written consent, you shall not modify or cause to modify any files or software that are a part of League Cricket 11's services.
<br>
• You agree that you shall not indulge in collusive play with other Users/Participants on the League Cricket 11 site in any manner.
<br>
• You agree not to disrupt, overburden, or aid or assist in the disruption or overburdening of (a) any computer or server used to offer or support League Cricket 11 or the League Cricket 11 services (each a "Server"); or (b) enjoyment of the League Cricket 11 services by any other User/Participant or person.
<br>
• You agree not to institute, assist or become involved in any type of attack, including without limitation to the distribution of a virus, denial of service, or other attempts to disrupt the League Cricket 11 services or any other person's use or enjoyment of the League Cricket 11 services.
<br>
• You shall not attempt to gain unauthorised access to the User accounts, servers or networks connected to the League Cricket 11 services by any means other than the User interface provided by League Cricket 11, including but not limited to, by circumventing or modifying, attempting to circumvent or modify, or encouraging or assisting any other person to circumvent or modify, any security, technology, device, or software that is part of the League Cricket 11 services.
<br>
• If you choose a username that, in League Cricket 11's opinion is considered to be obscene, indecent, abusive or that might subject League Cricket 11 and/or SBN Gaming Pvt. Ltd. to public disparagement or scorn, League Cricket 11/SBN Gaming Pvt. Ltd. reserves the right, without prior notice, to change such username and intimate you or delete such username from League Cricket 11, deny you access to League Cricket 11, or any combination of these options.
<br>
• Unauthorized access to the League Cricket 11 site shall be considered a breach of these Terms and Conditions, Privacy Policy and a violation of the applicable Republic of India laws and regulations. You agree not to access the League Cricket 11 site by any means other than through the interface that is provided by League Cricket 11 for use in accessing the League Cricket 11 site. You agree not to use any automated means, including, without limitation, agents, robots, scripts, or spiders, to access, monitor, or copy any part of our site, except those that has been approved in advance and in writing by us.
<br>
• Use of the League Cricket 11 site shall be subject to existing Republic of India laws & regulations and legal processes. Nothing contained in these Terms and Conditions, shall limit the League Cricket 11's right to comply with governmental, court, and law- enforcement requests or requirements relating to User’s use of League Cricket 11.
<br>
• Users may contact support@League Cricket 11.com. with problems or questions, as appropriate.
<br>
• Users agree not to institute, assist or become involved in any type of attack, including without limitation to distribution of a virus, denial of service, or other attempts to disrupt the League Cricket 11 Services or any other person's use or enjoyment of the League Cricket 11 Services.
<br>
• Users shall not attempt to gain unauthorised access to other User accounts on League Cricket 11 by any means, including but not limited to, by circumventing or modifying, attempting to circumvent or modify, or encouraging or assisting any other person to circumvent or modify, any security, technology, device, or software that underlies or is part of the League Cricket 11 services.
<br>
• Users provide their acceptance for not using the League Cricket 11 platform for any sort of inadequate activities including (but not limited to): to engage in any obscene, offensive, indecent, racial, communal, anti-national, objectionable, defamatory or abusive action or communication; to harass, stalk, threaten, or otherwise, violate any legal rights of other individuals; to transmit files that contain viruses, corrupted files, or any other similar software or programs that may damage or adversely affect the operation of another person's computer, League Cricket 11.com, any software, hardware, or telecommunications equipment; to advertise, offer or sell any goods or services for any commercial purpose on League Cricket 11.com without written consent of League Cricket 11; to Transmit content regarding services, products, surveys, contests, pyramid schemes, spam, unsolicited advertising or promotional materials, or chain letters.
<br>
<p class="text-question fairplay-divide"><b>PARTICIPATION IN CONTESTS</b></p>
By entering a Contest, User/Participant agrees to be bound by these Terms and the decisions of League Cricket 11. Subject to the terms and conditions stipulated herein below, the Company, at its sole discretion, may disqualify any User/Participant from a Contest, refuse to award benefits or prizes and require the return of any prizes, if the User engages in unfair conduct, which the Company deems to be improper, unfair or otherwise adverse to the operation of the Contest or is in any way detrimental to other Users//Participants which includes, but is not limited to:
<br>
a) Falsifying ones’ own personal information (including, but not limited to, name, email address, bank account details and/or any other information or documentation as may be requested by League Cricket 11 to enter a contest and/or claim a prize/winning.
<br>
b) Engaging in any type of financial fraud or misrepresentation including unauthorized use of credit/debit instruments, payment wallet accounts etc. to enter a Contest or claim a prize. It is expressly clarified that the onus to prove otherwise shall solely lie on the User.
<br>
c) Colluding with any other User(s) / Participant(s) or engaging in any type of syndicate play.
<br>
d) Any violation of Contest rules or the Terms and Conditions.
<br>
e) Accumulating points or prizes through unauthorized methods such as automated bots, or other automated means.
<br>
f) Using automated means (including but not limited to harvesting bots, robots, parser, spiders or screen scrapers) to obtain, collect or access any information on the Website or of any User/Participant for any purpose
<br>
g) Tampering with the administration of a Contest or trying to in any way tamper with the computer programs or any security measure associated with a Contest;
<br>
h) Obtaining other Users’/Participants’ information without their express consent and/or knowledge and/or spamming other Users/Participants (Spamming may include but shall not be limited to send unsolicited emails to Users/Participants, sending bulk emails to League Cricket 11 Users/Participants, sending unwarranted email content either to selected Users/Participants or in bulk); or
<br>
i) Abusing the Website in any way. It is clarified that in case a User/Participant is found to be in violation of this policy, League Cricket 11 reserves its right to initiate appropriate Civil/Criminal remedies as it may be advised other than forfeiture and/or recovery of prize money if any.
<br>  
<p class="text-question fairplay-divide"><b> CONTESTS & PRIZES</b></p>
League Cricket 11,may at its own discretion, make available anyother game/tournament/contest(s) on the League Cricket 11 platform. Currently, only fantasy cricket game is made available on League Cricket 11 platform. Users//Participants wishing to participate in the such contest ("Participants") are invited to create their own fantasy teams ("Team(s)") consisting of real-life cricketers (as applicable) involved in the real-life cricket match (as applicable, series or tournament (each a "Sport Event") to which the fantasy game relates. League Cricket 11 offers its platform to Users/Participants for fantasy game Contest(s) being created relating to each Event, and Users/Participants can participate in such tournament(s)/Contest(s) with their Teams. Teams are awarded points on the basis of the real life cricketers’ performances at the end of a designated match or tournament of the Contest(s). The User(s)/Participant(s) whose Team(s) have achieved the highest aggregate score(s) in the Contest(s) shall be declared winners ("Winners"). In certain pre-specified Contests, there may be more than one Winner and distribution of prizes to such Winners will be in increasing order of their Team's aggregate score at the end of the designated match(s) of the Contests.
<br>
The Contest(s) across the League Cricket 11 services shall, in addition to the Terms and Conditions, rules and regulations mentioned herein, be governed by:
<br>
• "Fantasy Rules" which are available at “How To Play” section.
<br>
• Other rules and regulations (including rules and regulation in relation to any payments made to participate in the Contest(s); and all Participants agree to abide by the same.
<br>
Currently, there are paid versions of the Contest(s) made available on League Cricket 11 platform. Users/Participants may participate in the Contest(s) by paying the pre-designated amount as provided on the relevant Contest page. The ‘pre-designated amount’ means and includes pre-determined platform fee for accessing League Cricket 11 services and pre-determined User’s/Participant's contribution towards prize money pool. The User/Participant with the highest aggregate points at the end of the pre-determined match shall be eligible to win a pre-designated prize which is disbursed out of prize money pool, as stated on the relevant Contest(s) page. A User/Participant may create different Teams for participation in Contest(s) in relation to an event across the League Cricket 11 services. However, unless League Cricket 11 specifies otherwise in relation to any Contest ("Multiple Entry Contest"), Users/Participants acknowledge and agree that they may enter only one Team in any Contest offered in relation to any event. In case of Multiple Entry Contest(s), a User/Participant may enter more than one Team in a single Multiple Entry Contest. In addition, it is expressly clarified that League Cricket 11 may, from time to time, restrict the maximum number of Teams that may be created by a single User account (for each format of the contest) or which a single User account may enter in a particular Multiple Entry Contest, in each case to such number as determined by League Cricket 11 in its sole discretion.
<br>
User/Participant shall pay a pre-designated amount for participating in the contest(s) being created on the League Cricket 11 platform.
<br>
In the event a User/Participant indicates, while entering an address, that he/she is a resident of the Excluded States, such User/Participant will not be permitted to proceed to sign up for the match or contest and may not participate in any paid version of the Contest(s).
<br>

<p class="text-question fairplay-divide"><b>TAX PAYABLE</b></p>
All prizes shall be subject to deduction of tax ("TDS") as per the Income Tax Act 1961. The TDS rate prescribed by the Government of India with respect to any prize money amount that is more than INR 10,000/- (Indian Rupees Ten Thousand Only) is 31.2% of the total prize money amount.
<br>
In case of any revisions by the Government of India to the aforementioned rate in the future, TDS will be deducted by League Cricket 11 in accordance with the then current prescribed TDS rate. Winners will be provided TDS certificates in respect of such tax deductions.
<br>
The Winners shall be responsible for payment of any other applicable tax, including but not limited to, income tax, gift tax, etc. in respect of the prize money.
<br>
<b>SELECTION AND VERIFICATION OF WINNERS AND CONDITIONS FOR PRIZES</b><br>
• SELECTION OF WINNERS
Winners shall be decided by the scores of the Teams in a designated match of the Contest(s). The User(s)/Participant(s) owning the Team(s) with the highest aggregate score in a match shall be declared the Winner(s). In certain pre-specified Contests, League Cricket 11 may declare more than one Winner and distribute prizes to such Winners in increasing order of their Team's aggregate score at the end of the designated match of the Contest. The contemplated number of Winners and the prize due to each Winner in such Contest shall be as specified on the Contest page prior to the commencement of the Contest.
<br>
Users/Participants creating Teams on behalf of any other User/Participant or person shall be disqualified.
<br>
In the event of a tie, the winning Users/Participants shall be declared Winners and the prize shall be equally divided among such Users/Participants.
<br>
League Cricket 11 shall not be liable to pay any prize if it is discovered that the Winner(s) have not abided by these Terms and Conditions, and other rules and regulations in relation to the use of the League Cricket 11, Contest, "Fantasy Rules", etc.
<br>    
• CONTACTING WINNERS <br>
Winners shall be contacted by League Cricket 11 or the third party conducting the Contest on the e-mail address provided at the time of registration. The verification process and Mandatory Information Documents shall be required for the collection of prize.
<br>
“Mandatory Information Documents (MIDs)” shall include the following documents:
<br>
a) PAN Card;
b) Government-issued residence proof; and
c) Details of the payment settlement system used by the User
<br>
League Cricket 11 shall not permit a Winner to withdraw his/her prize(s)/accumulated winnings unless the above-mentioned documents have been received and verified within the time-period stipulated by League Cricket 11. The User represents and warrants that the documents provided in the course of the verification process are true copies of the original documents to which they relate.
<br>
Users/Participants are required to provide proper and complete details at the time of registration. League Cricket 11 shall not be responsible for communications errors, commissions or omissions including those of the Users/Participants due to which the results may not be communicated to the Winner.
<br>
The list of Winners for each Contest(s) shall be posted on the platform. The winners will also be intimated by e-mail.
<br>
If a User/Participant has been declared a Winner on the platform but has not received any communication from League Cricket 11, such User/Participant may contact League Cricket 11 within twenty-four (24) hours of such User/Participant being declared the Winner.
<br>
• VERIFICATION PROCESS <br>
Only those Winners who successfully complete the verification process and provide the required documents within the time limit specified by League Cricket 11 shall be permitted to withdraw/receive their accumulated winnings (or any part thereof). League Cricket 11 shall not entertain any claims or requests for extension of time for submission of documents. League Cricket 11 shall scrutinise all documents submitted and may, at its sole and absolute discretion, disqualify any Winner from withdrawing his accumulated winnings (or any part thereof) on the following:
<br>
Determination by League Cricket 11 that any document or information submitted by the Participant is incorrect, misleading, false, fabricated, incomplete or illegible;
Participant does not fulfill the participation criteria as specified under these Terms and Conditions;
Any other thing.
<br>
<p class="text-question fairplay-divide"><b>PRIVACY POLICY</b></p>

The user hereby consents and agrees that she/he has read and fully understood the contents and terms of the Privacy Policy of League Cricket 11 and by using the League Cricket 11 Site, the User has consented to such content and terms of the Privacy Policy of League Cricket 11.Our Privacy Policy (which shall be available at https://www.League Cricket 11.com/privacypolicy) shall apply to all the entries to the Game and the Services on the Website.
<br>
INTELLECTUAL PROPERTY RIGHTS
Unless otherwise stated, copyright and/or all intellectual property rights in all Materials on the League Cricket 11 site (including but not limited to text, audio, video or graphical images, or technology, the look and feel of the League Cricket 11 site), trademarks and logos appearing on the League Cricket 11 site are the properties of League Cricket 11 and are owned & controlled by us and/or by other parties that have licensed their material to us. You shall not copy, reproduce, republish, upload, post, transmit or distribute the League Cricket 11 site Material in any way, including by e-mail and/or other electronic means and whether directly or indirectly and/orassist any other person to do the same. Without the prior written consent of the owner of the Materials, modification, use of the Materials on any other web site and/or networked computer environment and/or use of the Materials for any purpose other than personal, non-commercial use shall be considered a violation of the copyrights, trademarks and other proprietary rights of League Cricket 11 and shall be prohibited.
<br>
Any use of the Material other than for personal and non-commercial purposes shall be considered as commercial use for the purposes of this clause. You agree not to use any framing techniques to enclose any trademark or logo or other proprietary information of League Cricket 11 or remove, conceal or obliterate any copyright or other proprietary notice or any credit-line or date-line on other mark or source identifier included on the League Cricket 11 site, including without limitation, the size, colour, location or style of all proprietary marks. Any infringement shall be vigorously defended and pursued to the extent permitted by law.
<br>
We, at League Cricket 11, respect other people's intellectual property rights and if you believe that any content or material on the League Cricket 11 site infringes on your intellectual property rights, you can write and inform us about the same at support@League Cricket 11.com.
<br>
ADVERTISING MATERIAL
Some part of the League Cricket 11 site, may contain advertising information, surveys, promotion material or other material submitted to League Cricket 11 by third parties. Responsibility for ensuring that the material submitted for inclusion on the League Cricket 11 site complies with the applicable law is exclusively on the party providing the information/material. Your correspondence or business dealings with, or participation in the promotions of advertisers or including the payment and delivery of related goods or services, and/or any other terms, conditions, warranties or representations associated with such dealings, are solely between You and such advertiser. League Cricket 11 shall not be responsible and/or liable for any claim, error, omission, inaccuracy in advertising material and/or any loss or damage of any sort incurred as a result of any such dealings or as a result of the presence of such advertisers on the League Cricket 11 site. League Cricket 11 reserves the right to omit, suspend or change the position of any advertising material submitted for insertion.

<p class="text-question fairplay-divide"><b>LIMITATION OF LIABILITY</b></p>
In no event shall League Cricket 11, its officers, directors, employees, or agents, be liable to you for any direct, indirect, incidental, special, punitive, or consequential damages whatsoever resulting from any:
<br>
i) errors, mistakes, or inaccuracies of content;<br>
<br> ii) personal injury or property damage, of any nature whatsoever, resulting from your access to and use of our service;
  <br>  iii) any unauthorized access to or use of our secure servers and/or any and all personal information and/or financial information stored therein;
 <br> iv) any interruption and/or cessation of transmission to or from our servers;
 <br> v) any bugs, viruses, trojan horses, or the like, which may be transmitted to or through our service by any third party;
 <br> vi) any errors or omissions in any content or for any loss or damage of any kind incurred as a result of your use of any content posted, emailed, transmitted, or otherwise made available via the League Cricket 11 client, whether based on warranty, contract, tort, or any other legal theory, and whether or not League Cricket 11 is advised of the possibility of such damages; and/or
<br>  vii) the disclosure of information pursuant to these Terms and Conditions or privacy policy of League Cricket 11. The foregoing limitation of liability shall apply to the extent permitted by law in the applicable jurisdiction.
You specifically acknowledge that League Cricket 11 shall not be liable for any defamatory, offensive, or illegal conduct of any third party and that the risk of any harm or damage from the foregoing shall rest entirely with you.
<br>
TECHNICAL FAILURES AND DISCONNECTION POLICY <br>
It is possible that you may face disruptions, including, but not limited to errors, disconnection or inferences in communication in the Internet services, software or hardware that you have used to avail our services.
<br>
League Cricket 11 shall not be liable for any network outage or any problems/interruptions with network connectivity including network, Internet services, computer hardware or software failures of any kind in the disruption in the servicesas the same is beyond League Cricket 11’s control. You take full responsibility with complete knowledge for any risk of loss or damages caused due to interruption of services for any such reasons.
<br>
You agree that League Cricket 11 shall not be held responsible and/or liable for any interruption in a League Cricket 11game and/or tournament and/or contest caused at the User’s end due to an incoming call, message, chat, video call or any other interruption on the mobile phone device/tablet device. In case of any interruption specified above in a League Cricket 11 game and/or tournament and/or Contest on the User’s mobile phone device/tablet device, the game and/or tournament and/or contest shall still continue,and the User shall assume complete responsibility for such interruptions in between the games and/or tournaments and/or contest.
<br>
INDEMNITY  <br>
You agree to defend, indemnify and hold harmless League Cricket 11, its officers, directors, employees and agents, from and against any and all claims, damages, obligations, losses, liabilities, costs or debt, and expenses (including but not limited to attorney's fees) arising from:
<br>  (i) your use of and access to the League Cricket 11 site;
<br>  (ii) your violation of any term of these Terms and Conditions;
<br>  (iii) your violation of any third party right, including without limitation any trademark, copyright, property, or any other privacy right;
<br>  (iv) any violation of applicable law, rules, regulation, orders and ordinance. This defense and indemnification obligation shall survive these Terms and Conditions.
<br>
<b>CHARGEBACK POLICY</b> <br>
“Chargeback” is a credit card charge that has been disputed or claimed as fraud with a credit card company and/or the User’s bank. A credit card chargeback occurs after a cardholder/User(s) initiates a merchant dispute with their issuing bank and the issuing bank will then charge back the transaction being disputed from League Cricket 11 and the cardholder's account is credited.
Chargeback, as defined above, may occur for one of the following reasons:
<br>

<br>  1. Mistakenly filed by the cardholder/User as he/she did not recognize the charge;
<br> 2. Many User(s) request friends, parents or other relatives to pay for the game, and they may misunderstand the billing policy and/or do not recognize the charges. They may then file a dispute for the fees;
<br>3. After a credit card is lost or stolen, the User or bank disputes the charges in error;
<br>4. An account is sold, shared, transferred or traded and the previous owner disputes previous billing fees. These types of accounts can and will not be released;
<br>5. Technical problems during the payment processes; and
<br>6. Fraudulent use of a credit card.
<br>Procedure for User(s) recovering his/her account following Chargeback
<br>1. The User(s) needs to verify his/her ownership of the account in question for a chargeback. The User may need to create a new account to do so.
<br>
<br>2. The User then needs to provide the following details:
<br>Name (as on the Government issued Identity Card):
<br>Username:
<br>Name on the Credit Card:
<br>The last 4 digits of the Credit Card used on the account:
<br>Full Billing Address:
<br>Current answer to security question:
<br>Email Address:
<br>
<br>3. In order to uphold the League Cricket 11 privacy and security policies, representatives will ask you to verify information on an account. Payments shall not be accepted if the contact is not able to prove his/her ownership of the account. Missing information can cause delays and halt the recovery process. If the User requires additional time to gather the requested information, he/she should contact League Cricket 11 at support@League Cricket 11.com.
<br>
<br>4. If the User(s) does not remember the exact credit card number, he/she should check with the bank from whom the credit card was issued to the User. When an account is terminated and/or banned, the same shall not be renewed automatically on the League Cricket 11 platform. All billing related to that User account shall be stopped.
<br>Dispute of Charge by the User(s) with his/her bank:
<br>1. If the User has disputed a charge with his/her bank, League Cricket 11 shall terminate and/or close the User’s account and place it under suspension until the payment is returned to League Cricket 11.
<br>
<br>User’s card charged without permission
<br>1. League Cricket 11 has no way of knowing who is charging the User’s credit card at the time of purchase. However, there are certain factors which shall establish whether or not the charge is from a legitimate source or is fraudulent in nature. In most cases League Cricket 11 shall actively ban and refund charges to credit cards that League Cricket 11 has determined to be fraudulent in nature. However, most of the chargeback claims are not legitimate and require remittance before the account can be used again.
<br>
<br>Friendly Fraud: Friendly Fraud occurs when a charge is placed by a member of a household with access to a credit card (or who has memorized the security information on a card) and placed charges which may not be known to the primary card holder. The charges shall still be counted as legitimate whether or not the primary card holder was aware of the charges.
<br>
<br>Process to be followed by League Cricket 11 after verification of ownership
<br>1. Once the User(s) has verified ownership, the League Cricket 11 team in charge of the User(s) case shall give the User(s) instructions on how to proceed.
<br>
<br>2. The User(s) shall also remember that every case is different and that the League Cricket 11 team will need to research exactly what happened to ensure that both the User(s) and League Cricket 11 get the fairest result.

<b>GOVERNING LAW AND JURISDICTION</b> <br>
• The Courts of competent jurisdiction at Delhi shall have exclusive jurisdiction to determine any and all disputes arising out of, or in connection with, the League Cricket 11 services provided by League Cricket 11 (including the Contest(s)), the construction, validity, interpretation and enforceability of these Terms and Conditions, or the rights and obligations of the User(s) (including Participants/Users) or League Cricket 11, as well as the exclusive jurisdiction to grant interim or preliminary relief in case of any dispute referred to arbitration as given below. All such issues and questions shall be governed and construed in accordance with the laws of the Republic of India.
<br>
DISPUTE RESOLUTION <br>
• If any question, issue, difference or dispute arises between the disputing parties as to the interpretation of these Terms and Conditions or as to the duties and/or liabilities of either Party to these Terms and Conditions hereunder or as to any matter and/or thing arising out of or under these Terms and Conditions, the party raising the dispute shall provide a written notification ("Notification") to the other party. On receipt of Notification, the parties shall first try to resolve the dispute through discussions.
<br>
• In the event that the parties are unable to resolve the dispute within fifteen (15) days of receipt of Notification, the dispute shall be settled by arbitration by sole arbitrator to be appointed mutually by the disputing parties.The Arbitration proceedings shall be conducted at Delhi in accordance with the Indian Laws (both Substantive and Procedural) under the Arbitration and Conciliation Act, 1996 as amended and re-enacted from time to time and the Award so made shall be final and binding on all the parties.The language of arbitration proceedings shall be English.
<br>
• The arbitrator shall be entitled to pass interim orders and awards, including the orders for specific performance and such orders would be enforceable in competent courts. The arbitrator shall give a reasoned award.
<br>
Nothing contained in these Terms and Conditions shall prevent League Cricket 11 from seeking and obtaining interim or permanent equitable or injunctive relief, or any other relief available to safeguard League Cricket 11's interest prior to, during or following the filing of arbitration proceedings or pending the execution of a decision or award in connection with any arbitration proceedings from any court having jurisdiction to grant the same. The pursuit of equitable or injunctive relief shall not constitute a waiver on the part of League Cricket 11 to pursue any remedy for monetary damages through the arbitration described herein.
<br>
<b>REPRESENTATIONS AND WARRANTIES</b> <br>
The User, not limiting his/her statutory rights, expressly acknowledges and agrees to the following:
<br>
<br>1. The User uses the League Cricket 11 site at his or her own risk. League Cricket 11 expressly disclaims all express or implied representations or warranties.
<br>2. Each User shall bear their own risk concerning all the gaming activities being undertaken by him/her through the League Cricket 11 site.
<br>3. The User understands that certain delays can occur in the League Cricket 11’s system/network and therefore he/she shall not hold League Cricket 11 or any League Cricket 11 provider, responsible for any system/network related problems.
<br>4. League Cricket 11 does not guarantee, amongst other things that:
<br>the Game/Tournament/Contest and/or League Cricket 11 Site will meet the user’s expectations;
<br>the Game/Tournament/Contest and/or League Cricket 11 Site will be accessible without interruption or in a timely, reliable or fault-free manner;
<br>the results obtained through use of the Game/Tournament/Contest and/or League Cricket 11 Site will be correct and reliable;
the quality of the products, services, information or other material purchased or obtained by the User through Game/Tournament/Contest and/or League Cricket 11 Site will meet the User's expectations.
<br>
The User shall be solely responsible for damages to his/her data system or for loss of data arising from downloads of content from the Game/Tournament/Contest and/or League Cricket 11 Site.
BREACH AND CONSEQUENCES
If we have evidence of a breach of our Terms and Conditions through our investigations or reasonable belief that your continued access to our website/app (platform) is deleterious or detrimental to the interests of League Cricket 11 and/or our Users or the general public, then we reserve the right in our sole discretion to take one or all of the actions as mentioned below:
<br>
a) Permanent suspension and/or termination of your User account on our platform; <br>
b) Forfeit the balance amount left in your account;<br>
c) Demand and order damages for breach of League Cricket 11 Terms and Conditions and take required civil actions to recover damages;
<br>d) Initiate steps of prosecution for damages and violation that is equivalent to offences in law;
<br>e) Cause restriction to access our games/tournaments/contests to Users who are suspected in cases of cheating or colluding;
<br>f) Bar you from playing or registering at League Cricket 11 in the future, as we reserve full discretion to restrict you from playing our online fantasy games/tournaments/contests.

The action taken by us will be solely due to your breach of our Terms and Conditions; the action shall be final and decisive that will be binding on you. Any action taken by us will be without prejudice to our other rights and remedies that are mentioned and available in law or equity.
<br>
TERMINATION
We reserve the right, at our discretion, to immediately, with or without notice, suspend or terminate your registration, the Terms and Conditions and/or your access to all or any portion of the League Cricket 11 site and/or remove any registration information or User Content from the League Cricket 11 site. Upon termination or expiration of the Terms and Conditions, your obligations and League Cricket 11's rights and disclaimers survive, but your right to use the League Cricket 11 site immediately ceases.
<br>
DISCLAIMERS
League Cricket 11 shall make best endeavors to ensure that the platform (website/app) is error-free and secure. However, neither League Cricket 11 nor any of its partners, licensors or associates make any warranty that:
<br>
• The platform will meet Users’ requirements,<br>
• The platform will be uninterrupted, timely, secure, or error-free, <br>
• The results that may be obtained from the use of the platform will be accurate or reliable. <br>
<br>
League Cricket 11 holds all the rights to rectify any errors identified in the determination of winners or in the transfer of amounts to a User's account, using various methods as it deems fit, including (but not limited to) through a set-off of the mistaken payment from amounts due to the User or deduction from the User's account of the amount of mistaken payment. In such events, League Cricket 11 agrees to notify the User about the error and the rectification measure adopted to address the error.
<br>
Complying to the legal bodies and authorities neither League Cricket 11 nor its partners, licensors or associates disclaims any sort of responsibility for any direct, indirect, incidental, special, or consequential damages arising out of the use of or inability to use our sites, even if we have been advised of the possibility of such damages.
<br>
League Cricket 11 is authorized to cancel any events or contest(s) requiring specific permission or authority from any statutory authority or any State or the Central Government, or the board of directors or any events wherein such permission or authority is either not obtained or denied either before or after the organization of the relevant events or contest(s).
<br>
By accepting these Terms and Conditions, the Users agree not to make any demands or claims in the event of suspension or closure of any services, events or contests organized/provided by League Cricket 11.
<br>
FORCE MAJEURE <br>
Neither party to these Terms and Conditions shall be liable for any loss and/or any failure to perform any obligation under these Terms and Conditions due to causes beyond its reasonable anticipation or control including real or potential labour disputes, governmental actions, war or threat of war, sabotage, civil unrest, demonstrations, fire, storm, flooding, explosion, earthquake, provisions or limitations of materials or resources, inability to obtain the relevant authorization, accident and defect in electricity or telecommunication network, among other events.
<br>
Force Majeure and/or another event beyond League Cricket 11’s control hindering, delaying or complicating the maintenance of the League Cricket 11 Game/Tournament/Contest, shall entitle League Cricket 11 to suspend or limit the League Cricket 11 Game/Tournament/Contest until further notice.
<br>
ENTIRE AGREEMENT <br>
The Terms and Conditions and Privacy Policy, as amended from time to time, constitute the entire agreement between you and League Cricket 11. If any provision of these Terms and Conditions is considered unlawful, void, or for any reason unenforceable by a court of competent jurisdiction, then that provision shall be deemed severable from these Terms and Conditions and shall not affect the validity and enforceability of any remaining provisions, which shall remain in full force and effect.
<br> 
ABILITY TO ACCEPT TERMS AND CONDITIONS <br>
You affirm that you are aboveeighteen (18) years of age and are fully able and competent to enter into the terms, conditions, obligations, affirmations, representations, and warranties set forth in these Terms and Conditions, and to abide by and comply with these Terms and Conditions.
<br> 
League Cricket 11 takes children's privacy seriously and encourages parents and/or guardians to play an active role in their children's online experience at all times. League Cricket 11 does not knowingly collect any personal information from children below the aforementioned age and if League Cricket 11 learns that League Cricket 11 has inadvertently gathered personal data from children under the aforementioned age, League Cricket 11 shall take all reasonable measures to promptly delete such personal data from League Cricket 11’s records.
<br>
You further represent and warrant that you are not located in any Excluded State in India where League Cricket 11 is prohibited to be offered and/or accessed under the Indian laws.
<br> 
ASSIGNMENT <br>
These Terms and Conditions, and any rights and licenses granted hereunder, may not be transferred or assigned by you, but may be assigned by League Cricket 11 without restriction.
<br>
CHANGES TO TERMS AND CONDITIONS <br>
We reserve the right, to modify these Terms and Conditions at any time. Any changes to Terms and Conditions will be posted on the League Cricket 11 site and it is your responsibility to review these Terms and Conditionsfor any changes. Your continued use of the League Cricket 11 site following a posting of changes is your agreement to the changes/amendments and you shall be bound by the current and updated version of these Terms and Conditions. If any changes/amendments to these Terms and Conditions are unacceptable to you, you must discontinue the use of services offered by League Cricket 11. We reserve the right to suspend or deny, in our sole discretion, your access to all or any portion of the League Cricket 11 site, including for any violation of any provision of these Terms and Conditions. We also reserve the right to change the League Cricket 11 site without notice to you, at any time.
<br>
WAIVER <br>
No waiver of any terms of theseTerms and Conditions shall be deemed a further or continuing waiver of such term or any other term and League Cricket 11’s failure to assert any right or provision under these Terms and Conditions shall not constitute a waiver of such right or provision.
<br>
RELATIONSHIP <br>
None of the provisions of the Terms and Conditions shall be deemed to constitute a partnership or agency between you and League Cricket 11 and you shall have no authority to bind League Cricket 11 in any manner, whatsoever. If you are registering on the League Cricket 11 site as a business entity, you represent that you have the authority to bind the entity to this Agreeme
<br>
Please let us know if the personal information which we hold about you needs to be corrected or updated.
<br>
</p>
</div> 
  </div>

<%- include('./partials/footer.ejs')%>