<%- include('./partials/nav.ejs')%>
<div class="fair-play">
  <div class="fair-play-internal">
    <h3 class="txt-ques" style="text-align:center">Withdrawal Policies</h3>
    You are required to make a deposit of minimum INR 10 at least once in your League Cricket 11 account to be eligible for withdrawals. This is only a one time process before your first withdrawal.
<br>
The minimum amount for withdrawal is INR 100 in your bank account.
<br>
The maximum amount you can withdraw in your bank account is INR 2,00,000.
<br>
Providing bank details, personal information and KYC documents are mandatory before you place your first withdrawal request.
<br>
You can place another request only after the first request is fully processed.
<br>
Approval on your withdrawal request is done within 24 Hours from our end after which the request goes out for cash disbursement into your Bank Account.
<br>
You are eligible to withdraw your winning amount only.
<h3 class="txt-ques"style="font-size:26px">KYC verification includes:</h3>
<p class="txt-ans">
  PAN and address proof. <br>
  Bank account details should match with the KYC uploaded. In case they do not match, we ask for KYC associated with bank account provided or vice versa.
  <br>
<p class="text-question fairplay-divide"><b>TDS Rules:</b></p>
No TDS will be deducted on withdrawals at all regardless of the amount you wish to withdraw. However, TDS of 31.2% will be deducted on any winning amount exceeding INR 10000. Also, a TDS certificate would be duly issued to the user.
<br>
Once the TDS has been debited, we will provide the TDS certificate after the end of the following financial quarter.
<p class="text-question fairplay-divide"><b>PayTM Wallet Cash-out Policies</b></p>
You can now transfer your winnings directly to your PayTM wallet under the following conditions:
<br>
Your PayTM account must be linked to your registered number with League Cricket 11. <br>
<br> The minimum amount you can transfer in your PayTM wallet is Rs 10 & maximum is Rs 5,000 provided your KYC is complete.
<br> KYC verified League Cricket 11 account and the phone number linked should belong to you.
<br>  Your withdrawal request will be processed in maximum 24 hours.
</p>
</div> 
  </div>


<%- include('./partials/footer.ejs')%>